package views

templ Home(userEmail string) {
	@Layout("Home") {
		<h1>Taskland</h1>
		<p>Logged in as { userEmail }.</p>
		<form method="post" action="/logout">
			<button type="submit">Log out</button>
		</form>
	}
}
