package views

import "github.com/robmilanesi/taskland/internal/models"

templ Home(userEmail string, tasks []models.Task) {
	@Layout("Home") {
		<p>
			Logged in as { userEmail }.
			<form method="post" action="/logout" style="display:inline">
				<button type="submit">Log out</button>
			</form>
		</p>
		<h1>Inbox</h1>
		@NewTaskForm()
		@TaskList(tasks)
	}
}
